<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <filter>
        <filter-name>charsetEncodingFilter</filter-name>
        <filter-class>com.web.demo.utils.CharsetEncodingFilter</filter-class>
        <init-param>
            <param-name>CharsetEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>charsetEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--安卓作业-登录注册-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.web.demo.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/android/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.web.demo.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/android/RegisterServlet</url-pattern>
    </servlet-mapping>

    <!--ch10-->
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.web.demo.ch10.HandleRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/ch10/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.web.demo.ch10.HandleLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/ch10/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>com.web.demo.ch10.HandleDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/ch10/deleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>buyServlet</servlet-name>
        <servlet-class>com.web.demo.ch10.HandleBuyGoods</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>buyServlet</servlet-name>
        <url-pattern>/ch10/buyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>queryServlet</servlet-name>
        <servlet-class>com.web.demo.ch10.QueryAllRecord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>queryServlet</servlet-name>
        <url-pattern>/ch10/queryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>putGoodsServlet</servlet-name>
        <servlet-class>com.web.demo.ch10.PutGoodsToCar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>putGoodsServlet</servlet-name>
        <url-pattern>/ch10/putGoodsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchByConditionServlet</servlet-name>
        <servlet-class>com.web.demo.ch10.SearchByCondition</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchByConditionServlet</servlet-name>
        <url-pattern>/ch10/searchByConditionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>exitServlet</servlet-name>
        <servlet-class>com.web.demo.ch10.HandleExit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>exitServlet</servlet-name>
        <url-pattern>/ch10/exitServlet</url-pattern>
    </servlet-mapping>
</web-app>